In [1]:
# imports
import pandas as pd                                                          
import numpy as np 
import sqlalchemy 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float

In [2]:
# create Base engine
engine = create_engine('sqlite:///hawaii.sqlite', echo=False)

In [3]:
# read csv files
mes_df = pd.read_csv("Resources/clean_hawaii_measurements.csv") 
station_df= pd.read_csv("Resources/clean_hawaii_stations.csv")

In [4]:
mes_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [5]:
station_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [6]:
# create measurment class
class Measurement(Base):        
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

In [7]:
# create station class
class Station(Base):     
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [9]:
# write data from dataframes to sqlite database
mes_df.to_sql('measurement', engine, if_exists = "append", index=False)
station_df.to_sql('station', engine, if_exists = "append", index=False)

OperationalError: (sqlite3.OperationalError) table measurement has no column named date
[SQL: INSERT INTO measurement (station, date, prcp, tobs) VALUES (?, ?, ?, ?)]
[parameters: (('USC00519397', '2010-01-01', 0.08, 65), ('USC00519397', '2010-01-02', 0.0, 63), ('USC00519397', '2010-01-03', 0.0, 74), ('USC00519397', '2010-01-04', 0.0, 76), ('USC00519397', '2010-01-06', 0.0, 73), ('USC00519397', '2010-01-07', 0.06, 70), ('USC00519397', '2010-01-08', 0.0, 64), ('USC00519397', '2010-01-09', 0.0, 68)  ... displaying 10 of 19550 total bound parameter sets ...  ('USC00516128', '2017-08-22', 0.5, 76), ('USC00516128', '2017-08-23', 0.45, 76))]
(Background on this error at: http://sqlalche.me/e/e3q8)